<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZQVlcNA4Tjwp41fkDf4I5f91Hkg7DiCc</string>
	<key>GCM_SENDER_ID</key>
	<string>817395195895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.customerInfoShare</string>
	<key>PROJECT_ID</key>
	<string>ns-customer-info-share-84343</string>
	<key>STORAGE_BUCKET</key>
	<string>ns-customer-info-share-84343.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817395195895:ios:323f6f93daa0c4d2dd18f2</string>
	<key>DATABASE_URL</key>
	<string>https://ns-customer-info-share-84343-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>